<html>
<head>
	<title></title>
</head>
<body>
	<form action="/campuses" method='POST'>
		<p> Where should we build more campuses?</p>
		<input type="text" name="campus" placeholder="Campus">
		<button type="submit">Begin World Domination</button>
	</form>


</body>
</html>